

########################################################## CONFIGURATION FILE #############################################################################
#
# THIS IS THE CONFIGURATION FILE WITH THE DESCRIPTION OF THE PARAMETERS REQUIRED FOR RUNNING THIS SCRIPT, EDIT CAREFULLY !!!
#
# DefaultSearchKeyword = The default keyword to search on google in case no search keyword is provided in the argument while running the script
#
# Proxy     = Proxy site to be used to Google search and retrieve searched URLs.
#
# ResultFileLocation  = File location to store the resulting data in an excelsheet format - ensure that there is  write permission in this location.
#
# ParseTags = Tags to be searched in the webpage, this is also the way fields are stored in the resulting excelsheet.
#
# SleepTimeBetweenResultURLs = Time delay in seconds to be applied while fetching the Google searched URLs, this helps reducing the load on the network.
#
# URLFetchTimeout = Timeout in seconds while fetching the resulting Google searched URLs, sometimes the URLs are inaccessible.
#
# PageParserType = The time of parser for BeautifulSoup library, options are : lxml, html.parser ( removes html tags automatically) , html5lib.
#
# TopLevelDomain = The Google search server domain to search keywords on , provide domain options as : "co.in", "com" etc.
#
# NumberOfResults = Number of URLs to be searched on Google for the given keyword.
#
# URLHeaders = Headers to be used while fetching the Google searched result URLs on the keyword, blank for no headers. Example: URLHeaders : {"content-type":"text#"},
#
# GoogleSearchInterval = Search interval in seconds needed to be provided while Google searching, multiple simultaneous searches with less time might lead to bloc#king of search requests by Google. 
#
# ResultFileSuffix =  The name of the excelsheet to store the results
#
# GoogleSearchLanguage = Search google in the language provided
#
##################################################### INSTALLING DEPENDENCIES ON UBUNTU 
#
# sudo apt-get install python3-pip
# sudo pip3 install beautifulsoup4
# sudo pip3 install google
#
##############################################################################################################################################################

### This ampersand is required here for parsing configurations. DO NOT DELETE AND DO NOT USE IT ANYWHERE ELSE !!
%

"DefaultSearchKeyword"       : "pi meson subatomic",

"Proxy"                      : "{'http':'', 'https':''}",

"ResultFileLocation"         : "output\\",

"ParseTags"                  : ["ID","DateTime","SiteName","ArticleURL","SearchedKeyword","title","content", "publisher", "author","category"],

"SleepTimeBetweenResultURLs" : 2,

"URLFetchTimeout"            : 20,

"PageParserType"             : "html.parser",  

"TopLevelDomain"             : "com",

"NumberOfResults"            : 20,

"URLHeaders"                 : {},

"GoogleSearchInterval"       : 2,

"ResultFileSuffix"           : "SearchedResults",

"GoogleSearchLanguage"       : "en"
